 body{background-color: #FBDA61;
    background-image: linear-gradient(to right, #FBDA61 0%, #FF5ACD 100%);
;color:white;font-size: xx-large;}
p{
    font-size:x-large
}
a{color:white;text-decoration:none;font-size:x-large;text-shadow:none}
