 body{background-color: #0093E9;
background-image: linear-gradient(to right, #0093E9 0%, #80D0C7 100%);
color:aliceblue;
font-size:xx-large;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
